In [1]:
print("hello world")

hello world

In [2]:
print("hello world")
print("car")

hello world
car

In [3]:
abc = [1, 1.5,"strng",True, None]
for a in abc:
    print(a, type(a))

1 <class 'int'>
1.5 <class 'float'>
strng <class 'str'>
True <class 'bool'>
None <class 'NoneType'>

In [3]:
# read two numbers and swap

a = 5
b = 4
temp=a
a=b
b=temp
print(a,b)

4 5

In [6]:
r = int(input("radius: "))
pi = 3.14
area = pi * r * r
print(area)

78.5

In [7]:
c = int(input("enter celsius"))
f=(c* (9/5) + 32)
print(f)

32.0

In [8]:
p= int(input("enter principle"))
r = int(input("enter rate of interest"))
t= int(input("enter time"))
si=((p*r*t)/100)
print(si)

100.0

In [9]:
n= int(input("enter number"))
if n%2 == 0 :
    print("even")
else:
    print("odd")

odd

In [10]:
n= int(input("enter an integer"))
if n>0:
    print("Positive")
elif n<0:
    print("negative")
else:
    print("zero")

negative

In [11]:
a = int(input("enter first numbers"))
b= int(input("enter second number"))
c= int(input("enter third number"))
if a>b and a>c:
    print(a)
elif b>a and b>c:
    print(b)
else:
    print(c)

99

In [14]:
n= int(input("enter the year"))
if (n%400==0) or (n%4==0 and n%100!=0):
    print("leap year")
else:
    print("not a leap year")

leap year

In [15]:
marks = int(input("marks)"))
if (marks >=90) and (marks<=100):
    print("A")
elif (marks>=80) and (marks<=89):
    print("B")
elif (marks>=70) and (marks<=79):
    print("C")
elif (marks>=60) and (marks<=69):
    print("D")
else:
    print("F")

B

In [18]:
n=int(input("enter the number which table you want to print"))
for i in range(1,11):
    print(n,"*", i ,"=" , n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [19]:
n= int(input("enter the number"))
sum= n*(n+1)//2
print(sum)

55

In [20]:
n= int(input("enter the number"))
fact=1
for i in range(1, n+1):
    fact = fact *i
print(fact)

120

In [21]:
n= int(input("n"))
a=0
b=1
print(a, b, end=" ")
for i in range(n-2):
    c=a+b
    print(c, end=" ")
    a=b
    b=c

0 1 1 2 3 5 8 13 21 34

In [23]:
n= int(input("n"))
if n<=1:
    print("not a prime number")
else:
    for i in range(2,n):
        if (n%i==0):
            print("not a prime number")
    else:
        print("it's a prime number")

it's a prime number

In [28]:
n=input().strip()
if n[0]=="-" :
    n=n[1:]
print(len(n))

4

In [30]:
n= int(input("enter n"))
sum=0
while n>0:
    digit=n%10  #get last digit
    sum=sum+digit
    n=n//10    #remove last digit
print(sum)

8

In [31]:
s=input("enter a string")
print(s[::-1])

enihcaM

In [32]:
s=input("enter a string")
if s==s[::-1]:
    print("palindrome string")
else:
    print("not a palindrome")

palindrome string

In [34]:
s=input("enter a string")
count=0
for i in s:
    if i.lower() in "aeiou":
        count+=1
print(count)

3

In [39]:
sentence=input().strip()
word= sentence.split()
print(len(word))

4

In [42]:
s=input().strip()
a=input('the old character to be replaced')
b=input('the new character with which you want to replace')
print(s.replace(a,b))

sw$ti

In [44]:
n= int(input())
count=0
for i in range(n):
    num = int(input())
    count=count+num
print(count)

15

In [47]:
n=int(input())
numbers = list(map(int,input().split()))
smallest=numbers[0]
largest=numbers[0]
for i in numbers:
    if i<smallest:
        smallest=i
    if i>largest:
        largest=i
print(smallest, largest)

1 9

In [50]:
n=int(input())
numbers=list(map(int, input().split()))
x=int(input())
count=0
for num in numbers:
    if num == x:
        count=count+1
print(count)

3

In [51]:
n=int(input())
numbers=list(map(int,input().split()))
for i in numbers:
    if (i%2==0):
        print(i)

2
4
6

In [53]:
n=int(input())
numbers=list(map(int,input().split()))
print(numbers[::-1])

[50, 40, 30, 20, 10]

In [56]:
n= int(input())
numbers=list(map(int, input().split()))
unique =[]
for i in numbers:
    if i not in unique:
        unique.append(i)
for x in unique:
    print(x, end=" ")

1 2 3 4

In [57]:
n= int(input())
numbers = list(map(int, input().split()))
unique=list(set(numbers))
if len(unique)<2:
    print("Not Possible")
else:
    unique.sort()
    print(unique[-2])

3

In [60]:
#Rotate the list to the right by K positions
n= int(input())
numbers= list(map(int, input().split()))
k=int(input())
k=k%n
rotated = numbers [-k:]+ numbers[:-k]
for x in rotated:
    print(x, end= " ")

4 5 1 2 3

In [63]:
#List Palindrome Check
n= int(input())
numbers= list(map(int, input().split()))
if (numbers==numbers[::-1]):
    print("palindrome")
else:
    print("not a palindrome")

palindrome